<div class="grid grid-hero" style="align-items: center">
  <div>
    <picture>
      <source type="image/avif" srcset="/assets/images/razvan.avif" />
      <source type="image/png" srcset="/assets/images/razvan.png" />
      <img src="/assets/images/razvan.png" srcset="cow.png" alt="Photo of Razvan Marescu">
    </picture>
  </div>
  <div>
    <hgroup>
      <h1>Hey, I'm Razvan! 👋🏻</h1>
      <h2>I'm a software engineer living in Vancouver, BC 🇨🇦</h2>
    </hgroup>

    <p>With more than 15 years of professional experience, I specialize in building web applications using <a href="https://stackshare.io/rmarescu/my-stack" target="_blank" alt="Razvan Marescu's stack">modern tools and frameworks</a>.</p>
    <p>I'm passionate about delivering high-quality results while writing clean, pragmatic, and testable code.</p>
  </div>
</div>
