<section id="work" class="container">
  <h2>Work</h2>
  {% for project in site.data.projects %}
    <article>
      <header>
        <h3><a href="{{ project.url }}" title="Visit {{ project.name }}" target="_blank">{{ project.name }}</a></h3>
        <small>{{ project.duration }}</small>
      </header>
      <div>
        {{ project.description | markdownify }}
        {{ project.involvement | markdownify}}
      </div>
      <footer>
        Stack: {{ project.stack }}
      </footer>
    </article>
  {% endfor %}
</section>
