h1,
h2,
h3,
h4,
h5,
h6,
article > header {
  margin-bottom: 0;
}

article {
  div {
    display: grid;
    gap: var(--typography-spacing-vertical);
    margin: var(--typography-spacing-vertical) 0;

    & > * {
      margin: 0;
    }
  }

  footer {
    margin-top: 0;
    padding: calc(var(--block-spacing-vertical) * 0.33) var(--block-spacing-horizontal);
    font-size: calc(var(--font-size) * 0.8);
  }
}

.grid-hero {
  align-items: center;
  --grid-spacing-horizontal: 2rem;

  img {
    border-radius: var(--border-radius);
    max-width: 15rem;
    aspect-ratio: 1 / 1;
    width: 100%;
    object-fit: cover;
  }

  @if map-get($breakpoints, "lg") {
    @media (min-width: map-get($breakpoints, "lg")) {
      grid-template-columns: max-content 1fr;
    }
  }
}

%icon {
  content: "\00a0";
  display: inline-block;
  background: currentColor;
  min-height: 1em;
  width: 1em;
  mask-position: 50% 50%;
  mask-size: 120%;
  mask-repeat: no-repeat;
  flex-shrink: 0;

  &:after {
    content: "\00a0";
  }
}

.icon {
  @extend %icon;
}

$icons: ["envelope"];

@each $name in $icons {
  .icon-#{$name} {
    mask-image: inline("assets/images/icons/#{$name}.svg");
  }
}

%brand-icon {
  @extend %icon;
  mask-size: 100%;
}

.brand-icon {
  @extend %brand-icon;
}

$brand-icons: ["github", "linkedin", "strava", "twitter"];

@each $name in $brand-icons {
  .brand-icon-#{$name} {
    mask-image: inline("assets/images/icons/brands/#{$name}.svg");
  }
}
